/*
 * Tableless Layout for Wallpaper template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 * @author Klaus Vormweg <klaus.vormweg@gmx.de>
 */

/* -------------- basic page elements -------------- */
* {
  padding: 0; margin: 0;
}

html {
  font-size: 100%;
  height: 0;
}

body {
  font: 80% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  background: __background_other__;
  color: __text__;
  line-height: 1.4em;
  text-align: left;
  float: left;
  width: 100%;
}
img#fakebackground {
  width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
div.dokuwiki {
  min-width: 70em;
  max-width: 90em;
  width: 85%;
  margin: 0 auto;
}

/* -------------- header --------------- */
div.dokuwiki .stylehead {
  background-color: transparent;
  min-width: 65em;
  width: 100%;
}

div.dokuwiki .header {
  height: 7.5em;
  background-color: transparent;
}

div.dokuwiki .pagename {
  text-align: left;
  padding: 3.5em 0 3.5em 0;
  background-color: transparent;
}

div.dokuwiki .pagename a {
  font-size: 250%;
  font-weight: bolder;
  color: __text_neu__ !important;
  text-decoration: none !important;
}

div.dokuwiki div.breadcrumbs {
  background-color: rgba(255,255,255,0.6);
  border-bottom: 1px solid __border__;
  color: __text_neu__;
  font-size: 80%;
  padding: 4px 0 0 4px;
  min-height: 2.5em;
  margin-top: 5em;
}

/* ---------------  bottom bar ---------------- */
div.dokuwiki .bar {
  float: left;
  background-color: transparent;
  width: 100%;
  clear: both;
  min-width: 60em;
  margin-top: 1em;
}

div.dokuwiki .bar-left {
  float: left;
  padding: 0.1em 0;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
  padding: 0.1em 0;
}

div.dokuwiki #bar__bottom {
  color: __text_neu__;
  margin-bottom: 0.5em;
}

/* ------------- File Metadata ----------------------- */
div.dokuwiki div.stylefoot {
  min-width: 60em;
  width: 100%;
  height: 1.75em;
  clear: both;
  color: __text__;
  background-color: rgba(255,255,255,0.75);
}

div.dokuwiki div.stylefoot div.meta {
  font-size: 85%;
  text-align: right;
  padding: 0.25em 1em 0.25em 0;
  border-top: 1px solid __border__;
}
div.dokuwiki div.stylefoot div.meta div.homelink {
	margin: 0 0 0 0.5em;
	float: left;
}
div.dokuwiki div.stylefoot div.meta div.homelink a {
  display: block;
  float: left;
  padding: 0.15em 0.25em 0.5em 1em;
}

/* ------------- the document area ------------- */
div.dokuwiki div.wrap {
  width: 100%;
  overflow: hidden;
  min-width: 60em;
  background-color: rgba(255,255,255,0.8) ;
}

/* ------------- the  menu bar ------------- */
div.dokuwiki div.mainmenu {
  margin: 0;
  padding: 0.5em;
  background-color: rgba(255,255,255,0.9 );
  height: 1.5em;
  color: __text_other__;
}

div.dokuwiki div.mainmenu ul {
  z-index: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold !important;
  height: auto;
}

div.dokuwiki div.mainmenu ul li {
  margin: 0 1em 0 0;
  padding: 0;
  float: left;
  line-height: 1.25em;
}

div.dokuwiki div.mainmenu ul li div.li {
  font-weight: bold !important;
}

div.dokuwiki div.mainmenu ul ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  min-width: __menuwidth__;
  width: auto;
  background-color: __background_alt__;
  margin: 0;
  padding: 0 0 0.25em 0;
}

div.dokuwiki div.mainmenu ul ul li {
  float: none;
  border-top: 1px dotted black;
  padding: 1px 0.5em 0 0.5em;
  margin-right: 0 !important;
}

div.dokuwiki div.mainmenu ul ul li div.li {
  font-weight: normal !important;
}

div.dokuwiki div.mainmenu ul li div.li a {
  color: __text_alt__ !important;
  text-decoration: none !important;
  display: block !important;
}

div.dokuwiki div.mainmenu ul li div.li a:hover,
div.dokuwiki div.mainmenu ul li div.li a:focus {
  color: __text_neu__ !important;
  background-color: __background_other__ !important;
}

div.dokuwiki div.mainmenu ul ul ul {
  top: -1px;
  left: 99.5%;
}

div.dokuwiki div.mainmenu ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

div.dokuwiki div.mainmenu ul li.open {
  padding-right: 1em;
  background-image: url(images/open.gif);
  background-position: 100% 25%;
  background-repeat: no-repeat;
}

div.dokuwiki div.mainmenu ul ul li.open {
  padding-right: 1em;
  background-image: url(images/closed.gif);
  background-position: 98% 25%;
  background-repeat: no-repeat;
}

/* ------------- the document ------------- */
div.dokuwiki div.page {
  margin-left: 1em;
  /* width: 780px; */
  padding: 1.5em 1em 1.5em 0.5em;
  background-color: transparent;
  height: 100%;
}
/**
 * Design elements for Wallpaper Template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Anika Henke <anika@selfthinker.org>
 * @author Klaus Vormweg <klaus.vormweg@gmx.de>
 */

/* -------------- general elements --------------- */

div.dokuwiki table {
  font-size: 100%;
}

div.dokuwiki img {
  border: 0;
}

div.dokuwiki p,
div.dokuwiki blockquote,
div.dokuwiki table,
div.dokuwiki pre {
  margin: 0 0 1em 0;
}

div.dokuwiki hr {
  border: 0px;
  border-top: 1px solid __border__;
  text-align: center;
  height: 0px;
  margin: 0 0 1em 0;
}

div.dokuwiki div.nothing {
  text-align: center;
  margin: 2em;
}

/* ---------------- forms ------------------------ */

div.dokuwiki form {
  border: none;
  display: inline;
}

div.dokuwiki label.block {
  display: block;
  text-align: right;
  font-weight: bold;
}

div.dokuwiki label.simple {
  display: block;
  text-align: left;
  font-weight: normal;
}

div.dokuwiki label.block input.edit {
  width: 50%;
}

div.dokuwiki fieldset {
  width: 24em;
  text-align: center;
  border: 1px solid __border__;
  padding: 0.5em;
  margin: auto;
}

div.dokuwiki textarea.edit {
  font-family: monospace, serif;
  /* second generic font fixes problem with font-size, see
     http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
  font-size: 1em;
  color: __text__;
  background-color: __background_neu__;
  border: 1px solid __border__;
  padding: 0.3em 0 0 0.3em;
  /* should just be "width: 100%", but IE8 doesn't like it, see FS#1910 + FS#1667 */
  width: 700px;
  min-width: 100%;
  max-width: 100%;
}
div.dokuwiki form#dw__login fieldset {
	margin-bottom: 2em;
}

div.dokuwiki form#dw__login fieldset input.button,
div.dokuwiki form#dw__login fieldset button {
	color: __text__;
}

div.dokuwiki input.edit,
div.dokuwiki select.edit {
  font-size: 100%;
  border: 1px solid __border__;
  color: __text__;
  background-color: __background_neu__;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

#config__manager td.label span.outkey {
	color: __text_alt__;
	padding: 0 2px;
  background-color: __background__;
}

div.dokuwiki select.edit {
  padding: 0.1em 0;
}

div.dokuwiki input.missing {
  font-size: 100%;
  border: 1px solid __border__;
  color: __text__;
  background-color: #ffcccc;
  vertical-align: middle;
  margin: 1px;
  padding: 0.20em 0.3em;
  display: inline;
}

/* disabled style - not understood by IE */
div.dokuwiki textarea.edit[disabled],
div.dokuwiki textarea.edit[readonly],
div.dokuwiki input.edit[disabled],
div.dokuwiki input.edit[readonly],
div.dokuwiki input.button[disabled],
div.dokuwiki select.edit[disabled] {
  background-color: __background_alt__ !important;
  color: __color_disabled__ !important;
}

/* edit form */
div.dokuwiki div.toolbar,
div.dokuwiki div#wiki__editbar {
   margin: 2px 0;
   text-align: left;
}
div.dokuwiki div#size__ctl {
   float: right;
   width: 60px;
   height: 2.7em;
}
div.dokuwiki #size__ctl img {
   cursor: pointer;
}
div.dokuwiki div#wiki__editbar div.editButtons {
   float: left;
   padding: 0 1.0em 0.7em 0;
}
div.dokuwiki div#wiki__editbar div.summary {
   float: left;
}
div.dokuwiki .nowrap {
   white-space: nowrap;
}
div.dokuwiki div#draft__status {
  float: right;
  color: __text_alt__;
}
div.dokuwiki a#vorschau {
  display: block;
  clear: both;
  margin-top: 1em;
}

div.dokuwiki div.license {
  padding: 0.5em;
  font-size: 90%;
  text-align: center;
}

div.dokuwiki form#dw__editform div.license {
  clear: left;
  font-size: 90%;
}

/* --------- buttons ------------------- */

div.dokuwiki input.button,
div.dokuwiki button {
  border: 1px solid __border__;
  color: __text__;
  background-color: __background_neu__;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.95em;
  cursor: pointer;
  margin: 1px;
  padding: 0.125em 0.4em;
}

* html div.dokuwiki input.button,
* html div.dokuwiki button {
  height: 1.8em;
}

div.dokuwiki div.secedit input.button,
div.dokuwiki div.secedit button {
  background-color: transparent;
  margin-bottom: 0.35em;
  padding: 0;
  float: right;
  display: inline;
}

div.dokuwiki input#qsearch__in {
  font-size: 0.825em;
}

/* ----------- page navigator ------------- */

div.dokuwiki div.pagenav {
    margin: 1em 0 0 0;
}

div.dokuwiki div.pagenav-prev {
    text-align: right;
    float: left;
    width: 49%
}

div.dokuwiki div.pagenav-next {
    text-align: left;
    float: right;
    width: 49%
}

/* ----------- type of recent changes select -------- */

div.dokuwiki form#dw__recent select {
    margin-bottom: 10px;
}

/* --------------- Links ------------------ */

div.dokuwiki a:link,
div.dokuwiki a:visited {
  color: __extern__;
  text-decoration: none;
}
div.dokuwiki a:hover,
div.dokuwiki a:active {
  color: __text__;
  text-decoration: underline;
}

div.dokuwiki h1 a,
div.dokuwiki h2 a,
div.dokuwiki h3 a,
div.dokuwiki h4 a,
div.dokuwiki h5 a,
div.dokuwiki a.nolink {
  color: __text_alt__ !important;
  text-decoration: none !important;
}

/* external link */
div.dokuwiki a.urlextern {
  background: transparent url(images/link_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* windows share */
div.dokuwiki a.windows {
  background: transparent url(images/windows.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

div.dokuwiki a.urlextern:link,
div.dokuwiki a.windows:link,
div.dokuwiki a.interwiki:link,
div.dokuwiki a.urlextern:visited,
div.dokuwiki a.windows:visited,
div.dokuwiki a.interwiki:visited {
  color: __extern__;
}
div.dokuwiki a.urlextern:hover,
div.dokuwiki a.urlextern:active,
div.dokuwiki a.windows:hover,
div.dokuwiki a.windows:active,
div.dokuwiki a.interwiki:hover,
div.dokuwiki a.interwiki:active {
  color: __text__;
}

/* email link */
div.dokuwiki a.mail {
  background: transparent url(images/mail_icon.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

/* existing wikipage */
div.dokuwiki a.wikilink1 {
  color: __existing__ !important;
}

/* not existing wikipage */
div.dokuwiki a.wikilink2 {
  color: __missing__ !important;
  text-decoration: none !important;
  border-bottom: dashed 1px __missing__ !important;
}

/* ------------- Page elements ----------------- */

div.dokuwiki div.preview {
  background-color: __background_alt__;
  margin: 0 0 0 2em;
  padding: 4px;
  border: 1px dashed __text__;
}

div.dokuwiki span.user {
  color: __text_other__;
  font-size: 90%;
}

div.dokuwiki li.minor {
  color: __text_neu__;
  font-style: italic;
}

/* embedded images */
div.dokuwiki img.media {
  margin: 3px;
  max-width: 100%;
  height: auto;
}

div.dokuwiki img.medialeft {
  border: 0;
  float: left;
  margin: 0 1.5em 0 0;
  max-width: 100%;
  height: auto;
}

div.dokuwiki img.mediaright {
  border: 0;
  float: right;
  margin: 0 0 0 1.5em;
  max-width: 100%;
  height: auto;
}

div.dokuwiki img.mediacenter {
  border: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* smileys */
div.dokuwiki img.icon {
  vertical-align: middle;
}

div.dokuwiki abbr {
  font-style: normal;
  text-decoration: none;
  font-variant: normal;
  cursor: help;
  border-bottom: 1px dotted __text__;
}

/* general headline setup */
div.dokuwiki h1,
div.dokuwiki h2,
div.dokuwiki h3,
div.dokuwiki h4,
div.dokuwiki h5 {
	 color: __text_alt__;
	 background-color: inherit;
	 font-size: 100%;
	 font-weight: bold;
	 margin: 0.5em 0 0.25em 0;
	 padding: 0;
}

/* special headlines */
div.dokuwiki h1 {font-size: 150%;}
div.dokuwiki h2 {font-size: 140%;}
div.dokuwiki h3 {font-size: 130%;}
div.dokuwiki h4 {font-size: 120%;}
div.dokuwiki h5 {font-size: 110%;}

/* indent different sections */
div.dokuwiki div.level1 {margin-left: 0.1em;}
div.dokuwiki div.level2 {margin-left: 0.6em;}
div.dokuwiki div.level3 {margin-left: 1.1em;}
div.dokuwiki div.level4 {margin-left: 1.6em;}
div.dokuwiki div.level5 {margin-left: 2.1em;}

/* unordered lists */
div.dokuwiki ul {
  list-style-type: square;
  list-style-image: none;
  margin: 0 0 0.5em 1.5em;
  color: __text__;
}

/* ordered lists */
div.dokuwiki ol {
  list-style-image: none;
  margin: 0 0 0.5em 1.5em;
  color: __text__;
  font-weight: bold;
}

/* no bottom gap in between and smaller left margin for nested lists */
div.dokuwiki li ul,
div.dokuwiki li ol {
  margin: 0 0 0 1.5em;
}

/* the list items overriding the ul/ol definition */
div.dokuwiki .li {
  color: __text__;
  font-weight: normal;
  margin-bottom: 0.1em;
}

div.dokuwiki ol { list-style-type: decimal; }
div.dokuwiki ol ol { list-style-type: upper-roman; }
div.dokuwiki ol ol ol { list-style-type: lower-alpha; }
div.dokuwiki ol ol ol ol { list-style-type: lower-greek; }

div.dokuwiki blockquote {
  border-left: 2px solid __border__;
  padding-left: 3px;
}

div.dokuwiki pre,
div.dokuwiki code {
  font-family: monospace, serif;
  /* second generic font fixes problem with font-size, see
     http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
  font-size: 1em;
}
div.dokuwiki pre {
  padding: 0.5em;
  border: 1px dashed __border__;
  color: __text__;
  overflow: auto;
}

/* code blocks by indention */
div.dokuwiki pre.pre {
  background-color: rgba(255,255,255,0.5);
}

/* code blocks by code tag */
div.dokuwiki pre.code {
  background-color: rgba(255,255,255,0.5);
}

/* code blocks by file tag */
div.dokuwiki pre.file {
  background-color: rgba(255,255,255,0.5);
}

/* filenames for file and code blocks */
div.dokuwiki dl.file,
div.dokuwiki dl.code {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

div.dokuwiki dl.file dt,
div.dokuwiki dl.code dt {
    border: 1px dashed __border__;
    display: inline;
    padding: 0.1em 1em;
    margin-left: 2em;
}

div.dokuwiki dl.code dt a,
div.dokuwiki dl.file dt a {
    color: __text__;
}

div.dokuwiki dl.code dt {
    background-color: __background_other__;
    border-bottom: 1px solid __background_other__;
}

div.dokuwiki dl.file dt {
  background-color: rgba(255,255,255,0.5);
  border-bottom: 1px solid __background_neu__;
}


/* inline tables */
div.dokuwiki table.inline {
  background-color: transparent;
  border-spacing: 0px;
  border-collapse: collapse;
}

div.dokuwiki table.inline th {
  padding: 3px;
  border: 1px solid __border__;
  background-color: transparent;
}

div.dokuwiki table.inline td {
  padding: 3px;
  border: 1px solid __border__;
}

/* ---------- table of contents ------------------- */

div.dokuwiki #dw__toc {
  margin: 0 0 0 2em;
  float: right;
  width: 21.25em;
  font-size: 80%;
}

div.dokuwiki #dw__toc h3 {
  border: 1px solid __border__;
  background-color: rgba(255,255,255,0.75);
  text-align: left;
  font-weight: bold;
  padding: 3px;
  margin: 1em 0 2px 0;
}

div.dokuwiki .toggle strong {
    border: 0.4em solid transparent;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}

div.dokuwiki .toggle span {
    display: none;
}

div.dokuwiki .toggle.closed strong {
    margin-top: 0.4em;
    border-top: 0.4em solid __text__;
}

div.dokuwiki .toggle.open strong {
    margin-top: 0;
    border-bottom: 0.4em solid __text__;
}

div.dokuwiki #dw__toc > div {
  border: 1px solid __border__;
  background-color: rgba(255,255,255,0.6);
  text-align: left;
  padding: 0.5em 0 0.7em 0;
}

div.dokuwiki #dw__toc ul {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  padding-left: 1em;
  margin: 0;
}

div.dokuwiki #dw__toc ul li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left: 0.4em;
}

div.dokuwiki #dw__toc ul li.clear {
  background-image: none;
  padding-left: 0.4em;
}

div.dokuwiki #dw__toc a:link,
div.dokuwiki #dw__toc a:visited {
  color: __extern__;
}

div.dokuwiki #dw__toc a:hover,
div.dokuwiki #dw__toc a:active {
  color: __text__;
}

/* ---------------------------- Diff rendering --------------------------*/
div.dokuwiki table.diff {
  background-color: __background__;
  width: 100%;
}
div.dokuwiki td.diff-blockheader {
  font-weight: bold;
}
div.dokuwiki table.diff th {
  border-bottom: 1px solid __border__;
  font-size: 110%;
  width: 50%;
  font-weight: normal;
  text-align: left;
}
div.dokuwiki table.diff th a {
    font-weight: bold;
}
div.dokuwiki table.diff th span.user {
    color: __text__;
    font-size: 80%;
}
div.dokuwiki table.diff th span.sum {
    font-size: 80%;
    font-weight: bold;
}
div.dokuwiki table.diff th.minor {
  font-style: italic;
}
.dokuwiki table.diff_sidebyside th {
    width: 50%;
}
.dokuwiki table.diff .diff-lineheader {
    width: .7em;
    text-align: right;
}
[dir=rtl] .dokuwiki table.diff .diff-lineheader {
    text-align: left;
}
.dokuwiki table.diff .diff-lineheader,
div.dokuwiki table.diff td {
  font-family: monospace;
  font-size: 100%;
}
div.dokuwiki td.diff-addedline,
div.dokuwiki span.diff-addedline {
  background-color: #ddffdd;
}
div.dokuwiki td.diff-deletedline,
div.dokuwiki span.diff-deletedline {
    background-color: #ffffbb;
}
div.dokuwiki td.diff-context {
    background-color: __background_neu__;
}
div.dokuwiki table.diff td.diff-addedline strong,
div.dokuwiki table.diff td.diff-deletedline strong {
    color: red;
}

/* --------------------- footnotes -------------------------------- */

div.dokuwiki div.footnotes {
  clear: both;
  border-top: 1px solid __border__;
  padding-left: 1em;
  margin-top: 2em;
}

div.dokuwiki div.fn {
  font-size: 90%;
}

div.dokuwiki a.fn_bot {
  font-weight: bold;
}

/* insitu-footnotes */
div.insitu-footnote {
  font-size: 90%;
  line-height: 1.2em;
  border: 1px solid __border__;
  background-color: __background__;
  text-align: left;
  padding: 0.5em;
  max-width: 40%;    /* IE's width is handled in javascript */
  min-width: 5em;
}

/* overcome IE issue with one line code or file boxes which require h. scrolling */
* html .insitu-footnote pre.code,
* html .insitu-footnote pre.file {
  padding-bottom: 18px;
}

/* --------------- search result formating --------------- */
#dw__loading {
    text-align: center;
    margin-bottom: 1em;
}

div.dokuwiki .search_results {
  padding: 0 10px 0 30px;
}

div.dokuwiki .search_results dt {
  margin-bottom: 3px;
}
div.dokuwiki .search_results dd {
  margin-bottom: 6px;
  color: __text_other__;
  font-size: 12px;
  margin-left: 20px;
}

div.dokuwiki .search_sep {
  color: __text__;
}

div.dokuwiki .search_hit {
  color: __text__;
  background-color: __highlight__;
}
div.dokuwiki strong.search_hit {
  font-weight: normal;
}

div.dokuwiki div.search_quickresult {
  margin: 0 0 15px 30px;
  padding: 0 10px 10px 0;
  border-bottom: 1px dashed __border__;
}
div.dokuwiki div.search_quickresult h3 {
  margin: 0 0 1.0em 0;
  font-size: 1em;
  font-weight: bold;
}

div.dokuwiki ul.search_quickhits {
  margin: 0 0 0.5em 1.0em;
}

div.dokuwiki ul.search_quickhits li {
  margin: 0 1.0em 0 1.0em;
  float: left;
  width: 30%;
}

div.dokuwiki .section_highlight {
  background-color: __background_alt__ !important;
}

/* ------------------ Additional ---------------------- */

div.footerinc {
    text-align: center;
}
.footerinc a img {
    opacity: 0.5;
    border: 0;
}

.footerinc a:hover img {
    opacity: 1;
}

/* ---------- AJAX quicksearch ----------- */

div.dokuwiki div.ajax_qsearch {
  position: absolute;
  right: 237px;;
  width: 200px;
  opacity: 0.9;
  display: none;
  font-size: 80%;
  line-height: 1.2em;
  border: 1px solid __border__;
  background-color: __background_other__;
  text-align: left;
  padding: 4px;
}

/* --------- Toolbar -------------------- */
button.toolbutton {
  background-color: transparent;
  padding: 0px;
  margin: 0 1px 0 0;
  border: 1px solid __border__;
  cursor: pointer;
}

div.picker {
  width: 250px;
  border: 1px solid __border__;
  background-color: __background_alt__;
}

div.pk_hl {
  width: 125px;
}

button.pickerbutton {
  padding: 0px;
  margin: 0 1px 1px 0;
  border: 0;
  background-color: transparent;
  font-size: 80%;
  cursor: pointer;
}

/* ---------- Spellchecking ------------- */

div.dokuwiki a.spell_error {
  color: #f00;
  text-decoration: underline;
}

div.dokuwiki div#spell__suggest {
  background-color: __background__;
  padding: 2px;
  border: 1px solid __text__;
  font-size: 80%;
  display: none;
}

div.dokuwiki div#spell__result {
  border: 1px solid __border__;
  color: __text__;
  font-size: 14px;
  padding: 3px;
  background-color: __background_other__;
  display: none;
}

div.dokuwiki span.spell_noerr {
  color: #093;
}

div.dokuwiki span.spell_wait {
  color: #06c;
}

/* ---------------  Image Details  ----------------- */

div.dokuwiki div.img_big {
  float: left;
  margin-right: 0.5em;
}

div.dokuwiki dl.img_tags dt {
  font-weight: bold;
  background-color: __background_alt__;
  color: __text_alt__;
}
div.dokuwiki dl.img_tags dd {
  background-color: __background_neu__;
}

div.dokuwiki div.imagemeta {
  color: __text_neu__;
  font-size: 70%;
  line-height: 95%;
}

div.dokuwiki div.imagemeta img.thumb {
  float: left;
  margin-right: 0.1em;
}

/* other */
th, .tocheader  {
  color: __existing__;
}
legend  {
  color: __text_alt__ !important;
  font-weight: bold;
  background-color: __background_alt__;
  padding: 0 0.5em;
}
.license  {
  clear:both;
  text-align: center;
  color: __text__ !important;
  padding: 0 0.5em 1em 0.5em;
  font-size: 75%;
}
/* blog plugin compatibility */
div.comment_wrapper {
  background-color: __background_neu__ !important;
}

div.comment_buttons {
	font-size: 1em  !important;
}

/* nspages plugin compatibility */
.catpageheadline {
  text-decoration: none !important;
  color: __text_alt__ !important;
  background-color: inherit;
  font-size: 140%;
  font-weight: bold;
  margin: 0.5em 0 0.25em 0;
  padding: 0;
}

/* translation plugin compatibility */
.plugin_translation span {
  display: none;
}
div.plugin_translation {
  margin-bottom: 0 !important;
}
/* a11y */
.vishelp {
  display: none;
}

/* responsiveness */
/* hamburger */
input#hamburger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
label[for="hamburger"] {
  display: none;
}

@media (max-width: 899px) {
  div#dw__toc, div.plugin_loadskin, div.mainmenu ul {
    display: none;
  }

  div.dokuwiki, div.dokuwiki .stylehead, div.dokuwiki .bar,
  div.dokuwiki div.stylefoot, div.dokuwiki div.wrap {
    min-width: 0;
  }

  div.dokuwiki {
    width: 100%;
  }

  div.dokuwiki .pagename {
    padding-left: 0.5em;
  }

  label[for="hamburger"] {
    cursor: pointer;
    font-size: 150%;
    display: inline;
    color: #000;
  }
  #hamburger:checked ~ ul {
    display: block;
    position: relative;
    left: 2em;
    background-color: #fff;
    padding: 1em;
    width: auto;
    max-width: 20.5em;
    visibility: visible;
    opacity: 1;
  }

  div.dokuwiki div.mainmenu ul li {
    visibility: visible;
    margin: 0 1em 0 0;
    float: none;
    padding: 0.25em 0;
  }

  div.dokuwiki div.mainmenu ul ul {
    display: block;
    position: static;
    visibility: visible;
    padding: 0 0 0.25em 0;
    opacity: 1;
  }

  div.dokuwiki div.mainmenu ul ul li {
    padding: 0.25em 0;
  }

  div.dokuwiki div.mainmenu ul ul ul {
    display: block;
    visibility: visible;
  }

  div.dokuwiki div.mainmenu ul li.open, div.dokuwiki div.mainmenu ul ul li.open {
    padding-right: 0;
    background-image: none;
  }
}
@media (max-width: 579px) {
	div.dokuwiki img.medialeft, div.dokuwiki img.mediaright {
	  float: none;
	}
}
@media (max-width: 379px) {
  .resp {
    display: none;
  }
}